<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    var settings = {
  "async": true,
  "crossDomain": true,
  "url": "http://127.0.0.1:3000/getData",
  "method": "GET"
}

$.ajax(settings).done(function (response) {
  console.log("Poop");
  var html = "<div class='well'><h3><b>List of all fruits</b></h3></div>";
  var len = response.length;
  var i = 0;
  for(i=0;i<len;i++)
  {
    html = html + "<div class='well'><h3><b>"+response[i]["name"]+"</b></h3><h4>Price: "+response[i]["price"]+"</h4><h4>Stock: "+response[i]["stock"]+"</h4></div>";
  }
  console.log(html);
  $(fruits).html(html);
});
$.ajax(settings).fail(function (response){
  console.log("FUCK");
});
});
</script>
</head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Fruit Bay</h1>
      </div>

      <div class="row marketing">
        <div id="fruits" class="col-md-6">

        </div>

        <div id="edit" class="col-md-6">
          <div class="well">
            <h3><b>Add or Modify a Fruit Entry</b></h3>
            <h5><I>It is mandatory to fill all fields</I></h5>
            <h5><I>If a fruit name already exists, it'll just be updated. Else a new entry is created.</I></h5>
            <div class="form-group">
              <form action="/modifyEntry" method="get">
                <label>Name :</label>
                <input class="form-control" type="text" name="n" required><br>
                <label>Price :</label>
                <input class="form-control" type="number"  step="0.01" name="p" required><br>
                <label>Stock :</label>
                <input class="form-control" type="number" name="s" required><br>
                <input type="submit" value="Submit" class="btn btn-primary">
              </form>
            </div>
          </div>
          <div class="well">
            <h3><b>Delete a Fruit</b><h3>
            <h5><I>Note: This action cannot be undone</I></h5>
            <div class="form-group">
              <form action="/delEntry" method="get">
                <label>Name:</label>
                <input class="form-control" type="text" name="n" required><br>
                <input type="submit" value="Submit" class="btn btn-primary">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

</body>
</html>
